# Project Dependecies
node_modules

# Environment Variables

.env

database.sql

# Hii ilikuwa folder ya kutest Backend
requests/

# Later implementation
models/
register2.js

# Generated Tickets
tickets/

# Dev Ticketing
ticketingdev.js